@model TirtaOptima.ViewModels.DebtManagementsViewModel
@{
    var statusOptions = new List<SelectListItem>
    {
        new SelectListItem { Text = "Kredit", Value = "Kredit" },
        new SelectListItem { Text = "Debit", Value = "Debit" }
    };
}
<div class="row">
    <div class="col-12 mb-3">
        <form id="frmNote" class="needs-validation" novalidate asp-controller="DebtManagements" asp-action="Note" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="Ket" class="form-label required-star">Id Pelanggan</label>
                    @Html.TextBoxFor(x => x.IdPelanggan, new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-12 mb-3">
                    <label for="Ket" class="form-label required-star">Rekening Tagihan</label>
                    @Html.TextBoxFor(x => x.Periode, new { @class = "form-control", @readonly = true })
                </div>
                <div class="col-12 mb-3">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.IdPiutang)
                    @Html.HiddenFor(x => x.BulanSelect)
                    @Html.HiddenFor(x => x.TahunSelect)
                    <label for="Ket" class="form-label required-star">Tanggal Pencatatan</label>
                    <input type="date" id="Pencatatan" name="Pencatatan"
                           class="form-control"
                           value="@(Model.Pencatatan.HasValue ? Model.Pencatatan.Value.ToString("yyyy-MM-dd") : "")" />
                </div>
                <div class="col-12 mb-3">
                    <label for="Ket" class="form-label required-star">Tanggal Pembayaran</label>
                    <input type="date" id="Pencatatan" name="Pembayaran"
                           class="form-control"
                           value="@(Model.Pembayaran.HasValue ? Model.Pembayaran.Value.ToString("yyyy-MM-dd") : "")" />
                </div>
                <div class="col-12 mb-3">
                    <label for="Ket" class="form-label required-star">Nominal</label>
                    @Html.TextBoxFor(x => x.Nominal, new { @class = "form-control" })
                </div>
                <div class="col-12 mb-3">
                    <label for="Status" class="form-label required-star">Status</label>
                    @Html.DropDownListFor(x => x.Status, statusOptions, "-- Pilih Status --", new { @class = "form-control" })
                </div>
            </div>
        </form>
    </div>
    <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-danger" id="btn-tutup-event" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-success" id="btn-save-event" onclick="Note()">Simpan</button>
    </div>
</div>
<script>
    function Note() {
        var formData = new FormData($("#frmNote")[0]);
        var t = $("input[name='__RequestVerificationToken']").val();

        $.ajax({
            url: $("#frmNote").attr('action'),
            type: "POST",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            headers:
            {
                "RequestVerificationToken": t
            },
            beforeSend: function () {
                $("#loader").show()
            },
            complete: function () { $("#loader").hide(); },
            success: function (resp) {
                if (resp.status == 1) {
                    Swal.fire({
                        icon: 'success',
                        title: '<b>Info</b>',
                        text: resp.message,
                        timer: 1000,
                        showConfirmButton: false,
                    }).then(() => {
                        window.location.reload();
                    })
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: '<b style="color:orange">Peringatan</b>',
                        text: resp.message,
                    })
                }
            }
        })

    }
</script>