@model TirtaOptima.ViewModels.VillagesViewModel
<div class="row">
    <div class="col-12 mb-3">
        <form id="frmEdit" class="needs-validation" novalidate asp-controller="Villages" asp-action="Update" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12 mb-3">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Id)
                    <label asp-for="Nama" class="form-label required-star">Nama Kelurahan</label>
                    @Html.TextBoxFor(x => x.Nama, new { @class = "form-control" })
                </div>
                <div class="col-12 mb-3">
                    <label asp-for="KodeKec" class="form-label required-star">Kecamatan</label>
                    @Html.DropDownListFor(x => x.KodeKec,
                             new SelectList(Model.Districts, "Id", "Nama", Model.KodeKec), 
                             "-- Pilih Kecamatan --",
                             new { @class = "form-select", @data_choices = true })
                    <label asp-for="Layanan" class="form-label required-star">Kualitas Layanan</label>
                    <select asp-for="Layanan" id="Layanan" class="form-select">
                        <option value="">-- Pilih Kualitas Layanan --</option>
                        <option value="1">Sangat Buruk</option>
                        <option value="2">Buruk</option>
                        <option value="3">Cukup</option>
                        <option value="4">Baik</option>
                        <option value="5">Sangat Baik</option>
                    </select>
                    <a class="d-block mt-1 mb-2 small text-primary" data-bs-toggle="collapse" href="#infoLayanan">
                        <i class="mdi mdi-information-outline"></i>
                        Lihat penjelasan skala
                    </a>
                    <div class="collapse" id="infoLayanan">
                        <div class="card card-body mt-2">
                            <strong>Penjelasan Skala Jarak:</strong><br />
                            1 - Air sering mati, tekanan sangat rendah<br />
                            2 - Air sering mati & tekanan rendah<br />
                            3 - Air kadang mati, tekanan cukup<br />
                            4 - Air jarang mati, tekanan baik<br />
                            5 - Air selalu lancar, tekanan stabil
                        </div>
                    </div>
                    <label asp-for="Jarak" class="form-label required-star">Jarak</label>
                    <select asp-for="Jarak" class="form-select">
                        <option value="">-- Pilih Jarak --</option>
                        <option value="1">Sangat Dekat</option>
                        <option value="2">Dekat</option>
                        <option value="3">Sedang</option>
                        <option value="4">Jauh</option>
                        <option value="5">Sangat Jauh</option>
                    </select>
                    <a class="d-block mt-1 mb-2 small text-primary" data-bs-toggle="collapse" href="#infoJarak">
                        <i class="mdi mdi-information-outline"></i>
                        Lihat penjelasan skala
                    </a>
                    <div class="collapse" id="infoJarak">
                        <div class="card card-body mt-2">
                            <strong>Penjelasan Skala Jarak:</strong><br />
                            1 - Sangat Dekat (≤ 1 km)<br />
                            2 - Dekat (&gt; 1 – 3 km)<br />
                            3 - Sedang (&gt; 3 – 7 km)<br />
                            4 - Jauh (&gt; 7 – 15 km)<br />
                            5 - Sangat Jauh (&gt; 15 km)
                        </div>
                    </div>
                    <div class="col-12">
                        <label asp-for="Keterangan" class="form-label required-star">Keterangan</label>
                        @Html.TextAreaFor(x => x.Keterangan, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-danger" id="btn-tutup-event" data-bs-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-success" id="btn-save-event" onclick="Update()">Simpan</button>
    </div>
</div>
<script src="~/assets/js/pluginaddon.js"></script>
<script>
    function Update() {
        var formData = new FormData($("#frmEdit")[0]);
        var t = $("input[name='__RequestVerificationToken']").val();

        $.ajax({
            url: $("#frmEdit").attr('action'),
            type: "POST",
            data: formData,
            dataType: "json",
            contentType: false,
            processData: false,
            headers:
            {
                "RequestVerificationToken": t
            },
            beforeSend: function () {
                $("#loader").show()
            },
            complete: function () { $("#loader").hide(); },
            success: function (resp) {
                if (resp.status == 1) {
                    Swal.fire({
                        icon: 'success',
                        title: '<b>Info</b>',
                        text: resp.message,
                        timer: 1000,
                        showConfirmButton: false,
                    }).then(() => {
                        window.location.reload();
                    })
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: '<b style="color:orange">Peringatan</b>',
                        text: resp.message,
                    })
                }
            }
        })

    }
</script>