@using System.Globalization
@using Newtonsoft.Json
@model TirtaOptima.ViewModels.CustomerViewModel
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-wrap gap-2 mb-3">
            @if (TempData["Source"]?.ToString() != "database")
            {
                <button type="button" class="btn btn-info btn-label waves-effect waves-light" onclick="window.location.reload()">
                    <i class="mdi mdi-arrow-u-left-top label-icon align-middle fs-16 me-2"></i> Kembali
                </button>
            }
            @{
                var isDatabase = TempData["Source"]?.ToString() == "database";
                int no = 1;
            }
            <button type="button"
                    id="btnAction"
                    class="btn btn-success btn-label waves-effect waves-light"
                    data-action="@(isDatabase ? "GetDataApi" : "Save")">
                <i class="mdi @(isDatabase ? "mdi-refresh" : "mdi-circle-edit-outline") label-icon align-middle fs-16 me-2"></i>
                @(isDatabase ? "Periksa Pembaruan" : "Catat Pelanggan")
            </button>
        </div>
        <table id="tbl" class="table table-hover table-striped align-middle table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center">
                        @if (isDatabase)
                        {
                            @:No.
                        }
                        else
                        {
                            <input class="form-check-input chk-all" type="checkbox" name="checkAll" value="option1" />
                        }
                    </th>
                    <th class="text-center">Id Pelanggan</th>
                    <th class="text-center">Nomor & Jenis</th>
                    <th class="text-center">Nama Pelanggan</th>
                    <th class="text-center">Alamat</th>
                    <th class="text-center">Tanggal Pasang</th>
                    <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr class="odd">
                        <td class="text-center">
                            @if (isDatabase)
                            {
                                @no;
                            }
                            else
                            {
                                <input type="checkbox"
                                       name="SelectedCustomers"
                                       class="form-check-input chk-save"
                                       value="@JsonConvert.SerializeObject(item)">
                            }
                        </td>
                        <td class="text-center">
                            <b>@item.Id</b>
                        </td>
                        <td class="text-center">
                            <span class="fw-bold">@(string.IsNullOrEmpty(item.Nomor) ? "-" : item.Nomor)</span> <br /> @Model.Jenis.Where(x => x.Id == item.Jenis).FirstOrDefault()?.Deskripsi
                        </td>
                        <td class="text-center fw-bold">
                            @item.Nama
                        </td>
                        <td class="text-center">
                            <b class="fw-bold">@item.Alamat</b>
                            <br />@Model.Kelurahans.Where(v => v.Id == item.Kelurahan).FirstOrDefault()?.Nama | @Model.Kecamatans.Where(d => d.Id == item.Kecamatan).FirstOrDefault()?.Nama
                        </td>
                        <td class="text-center">
                            @(
                                item.Pasang.HasValue
                                ? item.Pasang.Value.ToString("d MMMM yyyy", new CultureInfo("id-ID"))
                                : "-"
                                )
                        </td>
                        <td class="text-center">
                            <span class="badge bg-@(
                                item.Status == 0 ? "info" :
                                item.Status == 2 ? "success" :
                                item.Status == 5 ? "warning" :
                                item.Status == 7 ? "danger" :
                                "light"
                            )">
                                @Model.Status.Where(s => s.Id == item.Status).FirstOrDefault()?.Name
                            </span>
                        </td>
                    </tr>
                    no++;
                }
            </tbody>
        </table>
    </div>
</div>
<div id="period-container"
     data-bulan="@Model.BulanSelect"
     data-tahun="@Model.TahunSelect">
    @{
        TempData["Bulan-cs"] = Model.BulanSelect;
        TempData["Tahun-cs"] = Model.TahunSelect;
    }
</div>
<script>
    var selectedItems = [];
    $(document).ready(function () {
        $('#tbl').DataTable({
            ordering: false,
        })
        $("#btnAction").on("click", function () {
            var action = $(this).data("action");
            if (action === "GetDataApi") {
                GetDataApi();
            } else if (action === "Save") {
                Save();
            }
        });
        // Checkbox single
        $('#tbl').on('change', 'input[name="SelectedCustomers"]', function () {
            updateSelectedItems();
        });

        // Checkbox "Check All"
        $('.chk-all').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('#tbl input[name="SelectedCustomers"]').prop('checked', isChecked);
            updateSelectedItems();
        });

        function updateSelectedItems() {
            selectedItems = [];
            $('#tbl input[name="SelectedCustomers"]:checked').each(function () {
                selectedItems.push($(this).val());
            });
        }
    });

    
    function GetDataApi() {
        var t = $("input[name='__RequestVerificationToken']").val();
        var bulan = $("#period-container").data("bulan");
        var tahun = $("#period-container").data("tahun");

        $.ajax({
            url: '@(Url.Action("GetDataApi", "Customers"))',
            type: "GET",
            data: { bulan, tahun },
            headers:
            {
                "RequestVerificationToken": t
            },
            beforeSend: function () {
                $("#loader").show()
                $('#data-customers').hide();
            },
            complete: function () { $("#loader").hide(); },
            success: function (resp) {
                if (resp.status == undefined) {
                    $('#data-customers').show();
                    $('#data-customers').html(resp);
                    $("#loader").hide()
                    Swal.fire({
                        icon: 'success',
                        title: '<b>Success</b>',
                        text: 'Data Berhasil Diambil',
                        showConfirmButton: false,
                        timer: 1000
                    });
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: '<b style="color:orange">Peringatan</b>',
                        text: resp.message,
                    })
                    $("#loader").hide()
                }
            }
        })
    }

    function Save() {
        if (selectedItems.length > 0) {
            Swal.fire({
                title: 'Apakah Anda yakin?',
                text: 'Anda akan mencatat pelanggan yang dipilih.',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Ya, Lanjutkan',
                cancelButtonText: 'Batal',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Save", "Customers")',
                        data: { selectedcustomers: selectedItems },
                        traditional: true, // penting untuk kirim array ke controller
                        beforeSend: function () {
                            $("#loader").show();
                        },
                        complete: function () {
                            $("#loader").hide();
                        },
                        success: function (resp) {
                            if (resp.status == 1) {
                                Swal.fire({
                                    icon: 'success',
                                    title: '<b>Info</b>',
                                    text: resp.message,
                                }).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    icon: 'warning',
                                    title: '<b style="color:orange">Peringatan</b>',
                                    text: resp.message,
                                });
                            }
                        },
                        error: function (xhr) {
                            $("#loader").hide();
                            alert(xhr.statusText, '', 'Information!', 1);
                        }
                    });
                }
            });
        } else {
            Swal.fire({
                icon: 'warning',
                text: 'Pilih Minimal 1 pelanggan',
            });
        }
    }
</script>