@model TirtaOptima.ViewModels.DebtReportsViewModel
@{
    ViewData["Title"] = "Laporan Piutang";
    int no = 1;
    var totalNominal = Model.Debts.Sum(d => d.Nominal);
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">LAPORAN PIUTANG PERUMDAM TIRTA UMBULAN KOTA PASURUAN</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">Tirta Optima</li>
                    <li class="breadcrumb-item">Pengelolaan Piutang</li>
                    <li class="breadcrumb-item active">Laporan Piutang</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex flex-wrap gap-2 mb-3">
            <button type="button" class="btn btn-info btn-label waves-effect waves-light" onclick="Create()">
                <i class="ri-printer-line label-icon align-middle fs-16 me-2"></i> Cetak Laporan
            </button>
        </div>
        <table id="tbl" class="table table-hover table-striped align-middle table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Pelanggan</th>
                    <th class="text-center">Nomor & Jenis</th>
                    <th class="text-center">Alamat</th>
                    <th class="text-center">Jumlah Rekening</th>
                    <th class="text-center">Total Nominal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Debts)
                {
                    <tr class="odd">
                        <td class="text-center">
                            @no
                        </td>
                        <td class="text-center">
                            <strong>@item.PelangganId</strong> <br />
                            @item.Pelanggan.Nama
                        </td>
                        <td class="text-center">
                            <strong>@item.Pelanggan.Nomor</strong> <br />
                            @item.Pelanggan.JenisNavigation!.Deskripsi
                        </td>
                        <td class="text-center">
                            <span>@item.Pelanggan.Alamat</span> <br />
                            @item.Pelanggan.KelurahanNavigation!.Nama | @item.Pelanggan.KelurahanNavigation.KodeKecNavigation!.Nama
                        </td>
                        <td class="text-center">
                            @item.Rekening
                        </td>
                        <td class="text-center">
                            <strong>
                                @("Rp " + item.Nominal.ToString("N0", new System.Globalization.CultureInfo("id-ID")))
                            </strong>
                        </td>
                    </tr>
                    no++;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center"><strong>TOTAL PIUTANG</strong></td>
                    <td class="text-center"><strong>@("Rp " + totalNominal.ToString("N0", new System.Globalization.CultureInfo("id-ID")))</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sidebarMultilevel8").addClass('show')
            $('#tbl').DataTable();
        });
    </script>
}