@model CollectionMonitoringsViewModel
@{
    ViewData["Title"] = "Detail Penagihan";
    var item = Model.Letter;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">DETAIL PENAGIHAN</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Tirta Optima</a></li>
                    <li class="breadcrumb-item">Monitoring</li>
                    <li class="breadcrumb-item active">Detail Penagihan</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="row mb-4">
    <!-- Kolom Kiri -->
    <div class="col-xxl-3">
        <div class="card mb-3">
            <div class="card-body p-4 text-center">
                <img src="@(string.IsNullOrEmpty(item!.Foto)
                            ? Url.Content("~/assets/images/nophoto.jpg")
                            : Url.Content("~/assets/images/collections/" + item.Foto))"
                     class="img-thumbnail img-fluid mw-100"
                     style="height: 212px; width: auto; object-fit: cover;"
                     alt="collection-images">
            </div>
        </div>

        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-primary text-light">
                    <i class="bx bx-id-card"></i>
                </span>
            </div>
            <input type="text" class="form-control" value="@(item!.Penagihan.Piutang.Pelanggan.Id + " / " + item!.Penagihan.Piutang.Pelanggan.Nomor)" readonly />
        </div>

        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-info text-light">
                    <i class="ri-user-3-line"></i>
                </span>
            </div>
            <input type="text" class="form-control" value="@item!.Penagihan.Piutang.Pelanggan.Nama" readonly />
        </div>

        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-warning">
                    <i class="ri-shape-line"></i>
                </span>
            </div>
            <input type="text" class="form-control" value="@(item!.Penagihan.Piutang.Pelanggan.Jenis + " / " + item!.Penagihan.Piutang.Pelanggan.JenisNavigation!.Deskripsi)" readonly />
        </div>

        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-success">
                    <i class="ri-map-pin-line"></i>
                </span>
            </div>
            <input type="text" class="form-control" value="@item!.Penagihan.Piutang.Pelanggan.Alamat" readonly />
        </div>
        <div class="mb-3 d-flex">
            <div class="avatar-xs d-block flex-shrink-0 me-3">
                <span class="avatar-title rounded-circle fs-16 bg-@(
                                item!.Penagihan.Piutang.Pelanggan.StatusNavigation.Id == 1 ? "info" :
                                item.Penagihan.Piutang.Pelanggan.StatusNavigation.Id == 2 ? "success" :
                                item.Penagihan.Piutang.Pelanggan.StatusNavigation.Id == 5 ? "warning" :
                                item.Penagihan.Piutang.Pelanggan.StatusNavigation.Id == 7 ? "danger" :
                                "secondary"
                                )">
                    <i class="ri-information-line"></i>
                </span>
            </div>
            <input type="text" class="form-control" value="@item!.Penagihan.Piutang.Pelanggan.StatusNavigation.Name" readonly />
        </div>
    </div>

    <!-- Kolom Kanan -->
    <div class="col-xxl-9">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Petugas Penagihan</label>
                        @Html.TextBoxFor(x => item.Penagihan.Penagih!.Name, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Tanggal Penagihan</label>
                        @Html.TextBoxFor(x => item.Penagihan.Tanggal,
                                 "{0:dd MMMM yyyy}",
                                 new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Total Nominal Penagihan Piutang (IDR)</label>
                        @Html.TextBoxFor(x => item.Penagihan.Piutang.Nominal,
                                 "{0:N0}",
                                 new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Jumlah Rekening</label>
                        @Html.TextBoxFor(x => item.Penagihan.Piutang.Rekening, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Tindakan</label>
                        @Html.TextBoxFor(x => item.Tindakan!.Name, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Nomor Surat</label>
                        @Html.TextBoxFor(x => item.NomorSurat, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Nama Penerima</label>
                        @Html.TextBoxFor(x => item.NamaPenerima, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Nomor Telepon Penerima</label>
                        @Html.TextBoxFor(x => item.NotelpPenerima, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Rencana Bayar</label>
                        @Html.TextBoxFor(x => item.RencanaBayar,
                                 "{0:dd MMMM yyyy}",
                                 new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label class="form-label">Alasan</label>
                        @Html.TextBoxFor(x => item.Alasan, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-12 mb-3">
                        <label class="form-label">Status</label>
                        @Html.TextBoxFor(x => item.Status, new { @class = "form-control", @readonly = true })
                    </div>

                    <div class="col-12 mb-3">
                        <label class="form-label">Keterangan</label>
                        @Html.TextAreaFor(x => item.Ket, new { @class = "form-control", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sidebarMultilevel8").addClass('show')
            $('#tbl').DataTable({
            })
        });
    </script>
}
