@model TirtaOptima.ViewModels.CollectionMonitoringsViewModel
@using System.Globalization
@{
    int no = 1;
}
<div class="card mt-2">
    <div class="card-body">
        <table id="tbl" class="table table-hover table-striped align-middle table-bordered">
            <thead class="table-light">
                <tr>
                    <th class="text-center">No.</th>
                    <th class="text-center">Pelanggan</th>
                    <th class="text-center">Alamat</th>
                    <th class="text-center">Nominal</th>
                    <th class="text-center">Petugas</th>
                    <th class="text-center">Tindakan</th>
                    <th class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Collections)
                {
                    <tr class="odd">
                        <td class="text-center">@no</td>
                        <td class="text-center">
                            <strong>@item.Piutang.Pelanggan.Id</strong> <br />
                            @item.Piutang.Pelanggan.Nama
                        </td>
                        <td class="text-center">
                            @item.Piutang.Pelanggan.Alamat <br />
                            @item.Piutang.Pelanggan.KelurahanNavigation!.Nama| @item.Piutang.Pelanggan.KelurahanNavigation!.KodeKecNavigation!.Nama
                        </td>
                        <td class="text-center">
                            <strong>
                                @(string.Format(
                                    new System.Globalization.CultureInfo("id-ID"),
                                    "Rp {0:N0}",
                                    Math.Abs(item.Piutang.Nominal)
                                    ))
                            </strong>
                            <br />
                            <span class="badge bg-@(item.Piutang.Nominal == 0 ? "success" : item.Piutang.Nominal > 1 ? "danger" : "info")">
                                <i class="mdi mdi-circle-medium"></i>
                                @(item.Piutang.Nominal == 0 ? "Lunas" : item.Piutang.Nominal > 1 ? "Belum Lunas" : "Lebih Bayar")
                            </span>
                        </td>
                        <td class="text-center">
                            @item.Penagih!.Name
                        </td>
                        <td class="text-center">
                            @item.Tindakan!.Name
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Detail", new { id = item.Id })" class="btn btn-info btn-detail" type="button">
                                <i class="ri-external-link-line"></i>
                            </a>
                        </td>
                    </tr>
                    no++;
                }
            </tbody>
        </table>
    </div>
</div>
<div id="period-container"
     data-bulan="@Model.BulanSelect"
     data-tahun="@Model.TahunSelect">
    @{
        TempData["Bulan-cm"] = Model.BulanSelect;
        TempData["Tahun-cm"] = Model.TahunSelect;
        if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div id="partial-message" data-message="@ViewBag.Message"></div>
        }
    }
</div>
<script>

    $(document).ready(function () {
        $('#tbl').DataTable({
        })
    });
</script>
